<section id="sidebar">
    <a href="/" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">ATN TOY</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="/product-list">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Product</span>
            </a>
        </li>
    </ul>
</section>