<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <h1><center>404 - OOPS!!! 
            That page does not exist</center></h1>
    </body>
    <!-- <style>
        h1{
            background: var(--light);
            box-shadow: 8px -9px 0 var(--grey);
            width: 100%;
            margin-top: 10rem;
            border-radius: 30px;
            font-family: var(--lato);
            font-size: 64px;
	        color: var(--blue);
        }
    </style> -->
</html>