<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <h1>ATN TOY</h1>
        <h3>About us</h3>
        <p>Nguyen Phuc Thinh</p>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>