<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
    <body>
        <h1>ATN TOY</h1>
		<!-- <h2>Dashboard</h2> -->
        <!-- SIDEBAR -->
		<%- include('./partials/sidebar.ejs') %>
		<!-- SIDEBAR -->
			<!-- CONTENT -->
			<section id="content">
				<!-- NAVBAR -->
				<%- include('./partials/nav.ejs') %>
				<!-- NAVBAR -->

				<!-- MAIN -->
				<main>
					<div class="table-data">
					</div>
				</main>
				<!-- MAIN -->
			</section>
			<!-- CONTENT -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>